source https://nuget.org/api/v2

nuget FSharp.Core redirects: force
nuget log4net ~> 2.0.5

github anton-pt/Endorphin.Core src/extras/Choice.fs
github anton-pt/Endorphin.Core src/extras/Control.fs
github anton-pt/Endorphin.Core src/extras/String.fs

group Build
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx